.features-new {
  $self: &;

  @include media-breakpoint-up(lg) {
    padding: var(--padding-top) 0 var(--padding-bottom) 0;
  }

  @include media-breakpoint-down(lg) {
    padding: var(--padding-top--mobile) 0 var(--padding-bottom--mobile) 0;
  }

  &__features {
    &.simple {
      @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: space-between;
        gap: 48px;
      }
    }

    &.load-more {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 48px;
    }

    &.load-more,
    &.simple {
      @include media-breakpoint-down(lg) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
      }

      @include media-breakpoint-down(md) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  & {
    #{$self}__features.simple {
      #{$self}__feature--hidden {
        display: none;
      }
    }
  }

  &__feature {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    transition: ease-in-out 0.3s;

    @include media-breakpoint-up(md) {
      max-width: var(--width);
    }

    &--hidden {
      max-height: 0;
      pointer-events: none;
    }
  }

  &__feature-image {
    margin-bottom: 24px;
    max-width: 60px;
    max-height: 60px;
    object-fit: contain;
  }

  &__feature-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: $heading-color;
    margin-bottom: 24px;

    br {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  &__feature-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $gray3;

    &.green {
      a {
        color: $green;
        border-bottom: 1px solid $green;

        &:hover {
          color: $main-green;
          border-bottom-color: $main-green;
        }
      }
    }

    &.blue {
      a {
        color: $blue2;
        border-bottom: 1px solid $blue2;

        &:hover {
          color: $blue2;
          border-bottom-color: $blue2;
        }
      }
    }

    a {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      transition: 0.3s;

      &:hover {
        border-bottom-width: 2px;
      }
    }
  }

  &__button-wrapper {
    margin-top: 48px;
  }

  &__read-more-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-decoration-line: underline;
    color: $blue2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    &:before {
      content: '';
      background: url('../../assets/images/icons/arrow-down-blue.svg');
      display: block;
      width: 16px;
      height: 9px;
      background-size: contain;
      background-repeat: no-repeat;
      transition: 0.3s;
    }

    &.active {
      &:before {
        transform: scale(1, -1);
      }
    }
  }
}
