// Theme Colors
$heading-color: #3a4454;
$gradient: #f7f9fb;
$gray: #708090;
$gray2: #748994;
$gray3: #4a5264;
$light: #ebf0f5;
$light2: #dce1e9;
$white: #fff;
$green: #219963;

// Breakpoints
$grid-breakpoints: (
  sm: 575px,
  md: 767px,
) !default;
