.banner-with-buttons-tabs-new {
  background: $gradient;

  @include media-breakpoint-down(md) {
    padding: 50px 0 25px 0;
  }

  @include media-breakpoint-up(md) {
    padding: 100px 0 39px 0;
  }

  &__title {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 40px;
    line-height: 100%;
    color: $heading-color;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down(md) {
      margin-bottom: 39px;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
    }
  }

  &__inner {
    position: relative;
    background: $white;
    border: 1px solid $light2;
    border-radius: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__tab {
    flex: 1 0 15%;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    color: $gray;
    background: $light;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }

    @include media-breakpoint-up(sm) {
      font-size: 16px;
    }

    @include media-breakpoint-down(md) {
      padding: 10px;
    }

    @include media-breakpoint-up(md) {
      padding: 16px 69px;
    }

    &:first-child {
      border-top-left-radius: 10px;
    }

    &:last-child {
      border-top-right-radius: 10px;
    }

    &:hover {
      color: $green;
    }

    &.active {
      background: $white;
      color: $green;
    }
  }

  &__content {
    display: none;

    @include media-breakpoint-down(md) {
      padding: 15px;
    }

    @include media-breakpoint-up(md) {
      padding: 53px 45px 45px 45px;
    }

    &.active {
      display: block;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    @include media-breakpoint-down(md) {
      gap: 20px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    @include media-breakpoint-up(sm) {
      width: 50%;
    }
  }

  &__item-image {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
    }
  }

  &__item-content {
    max-width: 535px;
  }

  &__item-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    color: $heading-color;
  }

  &__item-description {
    font-size: 16px;
    line-height: 150%;
    color: $gray2;
    font-weight: 400;
    margin-top: 20px;
  }

  &__grey-buttons {
    margin-top: 48px;
    border-top: 1px solid $light;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
  }

  &__grey-button {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: $gray;
    text-align: center;
    cursor: pointer;
    position: relative;

    &:after {
      content: '';
      background: url('../../assets/images/icons/arrow.svg');
      display: flex;
      width: 18px;
      height: 16px;
      background-size: contain;
      position: absolute;
      background-repeat: no-repeat;
      right: -32px;
      top: calc(50% - 4px);
      transition: 0.3s;
    }

    &.active {
      &:after {
        transform: scale(1, -1);
        top: 0;
      }
    }
  }

  &__hidden {
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    transition-property: opacity;
    max-height: 0;

    &.active {
      visibility: visible;
      opacity: 1;
      max-height: 2000px;
      margin-top: 24px;
    }
  }
}
