.latest-posts {
  background: $gradient;

  @include media-breakpoint-down(md) {
    padding: 32px 0;
  }

  @include media-breakpoint-up(md) {
    padding: 112px 0;
  }

  &__title {
    font-weight: 300;
    line-height: 100%;
    text-align: center;
    color: $heading-color;

    @include media-breakpoint-down(xl) {
      font-size: 32px;
      margin-bottom: 32px;
    }

    @include media-breakpoint-up(md) {
      font-size: 40px;
      margin-bottom: 72px;
    }
  }

  &__post-wrapper {
    @include media-breakpoint-down(xl) {
      display: flex;
      overflow-x: auto;
      gap: 20px;
      padding-bottom: 15px;
    }

    @include media-breakpoint-up(xl) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 39px;
    }
  }

  &__post-item {
    display: flex;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      width: 271px;
    }

    @include media-breakpoint-up(md) {
      width: 592px;
    }

    @include media-breakpoint-up(xl) {
      max-width: 592px;
      width: 100%;
    }
  }

  &__image-wrapper {
    img {
      height: 271px;
      object-fit: cover;
      display: flex;

      @include media-breakpoint-down(md) {
        border-radius: 10px 10px 0 0;
      }

      @include media-breakpoint-up(md) {
        border-radius: 10px 0 0 10px;
      }
    }
  }

  &__content-wrapper {
    background: $white;
    border: 1px solid $light2;
    padding: 32px 20px 23px 26px;

    @include media-breakpoint-down(md) {
      width: 271px;
      border-radius: 0 0 10px 10px;
      height: 100%;
      border-top: 0;
    }

    @include media-breakpoint-up(md) {
      border-radius: 0 10px 10px 0;
      width: 314px;
      border-left: 0;
    }

    @include media-breakpoint-up(xl) {
      width: 100%;
    }
  }

  &__post-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: $gray3;
    margin-bottom: 13px;
  }

  &__post-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 21px;
    display: block;

    &.green {
      color: $green;
    }

    &.blue {
      color: $blue2;
    }
  }

  &__post-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $gray3;
  }

  &__button-wrapper {
    text-align: center;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }

    @include media-breakpoint-up(sm) {
      margin-top: 48px;
    }

    .latest-posts__btn {
      @include media-breakpoint-down(sm) {
        padding: 8px 12px;
      }

      @include media-breakpoint-up(sm) {
        padding: 16px 71px;
      }
    }
  }
}
