.editor-styles-wrapper .acf-actions .button,
.editor-styles-wrapper .acf-link .button,
.editor-styles-wrapper .hide-if-value .button {
  height: 30px;
  text-align: center;
  color: #000;
}

.editor-styles-wrapper .quicktags-toolbar {
  display: none;
}
