.disclosure-with-button {
  background: $gradient;
  @include media-breakpoint-down(sm) {
    padding-top: 25px;
    padding-bottom: 50px;
  }

  @include media-breakpoint-up(sm) {
    padding-top: 39px;
    padding-bottom: 112px;
  }

  &__diclosure-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $gray3;
  }

  &__button-wrapper {
    padding-top: 48px;
    display: flex;
    justify-content: center;
    gap: 20px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
}
