.filter-tag-posts-new {
  $self: &;

  @include media-breakpoint-down(md) {
    padding: var(--padding-top--mobile) 0 var(--padding-bottom--mobile) 0;
    margin: var(--margin-top--mobile) 0 var(--margin-bottom--mobile) 0;
  }

  @include media-breakpoint-up(md) {
    padding: var(--padding-top) 0 var(--padding-bottom) 0;
    margin: var(--margin-top--mobile) 0 var(--margin-bottom--mobile) 0;
  }

  &__filter-wrapper {
    position: relative;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: $heading-color;
  }

  &__filter-select {
    background: $white;
    border: 1px solid $gray4;
    border-radius: 50px;
    cursor: pointer;
    max-width: 303px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 22;

    &.opened {
      border-radius: 10px;
      box-shadow: 0px 5px 15px $box-shadow2;

      #{$self}__filter-select-value {
        &::after {
          transform: scale(1, -1);
        }
      }
    }

    @include media-breakpoint-up(md) {
      left: 347px;
      top: -10px;
    }

    @include media-breakpoint-down(md) {
      top: 50px;
    }
  }

  &__filter-select-value {
    position: relative;
    padding: 16px 0;
    display: flex;
    align-items: center;
    gap: 16px;

    &::after {
      content: '';
      background: url('../../assets/images/icons/arrow.svg');
      display: flex;
      width: 12px;
      height: 7px;
      background-size: contain;
      position: relative;
      background-repeat: no-repeat;
      transition: 0.3s;
      transform: scale(1, 1);
    }
  }

  &__filter-controller {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__filter-items {
    display: none;
    padding-bottom: 15px;

    &.opened {
      display: block;
    }
  }

  &__filter-checkbox {
    width: 18px;
    height: 18px;
    margin-right: 15px;
  }

  &__filter-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: $gray5;
    width: 100%;
    cursor: pointer;
    pointer-events: none;
  }

  &__post-wrapper {
    margin-top: 89px;
    display: grid;
    grid-auto-rows: 234px;
    column-gap: 36px;

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__post {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 36px;
    border: 1px solid $light2;

    @include media-breakpoint-up(xl) {
      padding: 70px 50px;
    }

    @include media-breakpoint-down(xl) {
      padding: 30px;
    }

    @include media-breakpoint-up(sm) {
      background-image: var(--desktop-image);
    }

    @include media-breakpoint-down(sm) {
      background-image: var(--mobile-image);
    }

    &.lg {
      grid-row: span 4;

      #{$self}__content-wrapper {
        max-width: 440px;
      }

      #{$self}__regular-title {
        @include media-breakpoint-up(sm) {
          font-size: 40px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 27px;
        }
      }
    }

    &.md {
      @include media-breakpoint-up(sm) {
        grid-row: span 3;
      }

      @include media-breakpoint-down(sm) {
        grid-row: span 4;
      }

      #{$self}__content-wrapper {
        max-width: 308px;
      }

      #{$self}__regular-title {
        @include media-breakpoint-up(sm) {
          font-size: 36px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 27px;
        }
      }
    }

    &.sm {
      @include media-breakpoint-up(sm) {
        grid-row: span 2;
      }

      @include media-breakpoint-down(sm) {
        grid-row: span 3;
      }

      #{$self}__content-wrapper {
        max-width: 308px;
      }

      #{$self}__regular-title {
        @include media-breakpoint-up(sm) {
          font-size: 36px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 27px;
        }
      }
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
  }

  &__tag {
    border-radius: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    padding: 8px 12px;

    &.white {
      color: $white;
      background: $tag;
    }

    &.dark {
      background: $tag-dark;
      color: $heading-color;
    }

    &.blue {
      color: $blue2;
      background: $tag-dark2;
    }
  }

  &__content-wrapper {
    &.white {
      color: $white;
    }

    &.dark {
      color: $heading-color;
    }
  }

  &__bold-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 24px;
  }

  &__regular-title {
    font-weight: 300;
    line-height: 100%;
    margin-bottom: 24px;
  }

  &__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;
  }

  &__button {
    text-align: center;
  }

  &__social-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__social-link {
    width: 32px;
    height: 32px;
    display: block;

    &.facebook {
      background: url('../../assets/images/social-media/facebook-circle-green.svg');
      background-size: cover;
    }

    &.twitter {
      background: url('../../assets/images/social-media/twitter-circle-green.svg');
      background-size: cover;
    }

    &.instagram {
      background: url('../../assets/images/social-media/instagram-circle-green.svg');
      background-size: cover;
    }

    &.linkedin {
      background: url('../../assets/images/social-media/linkedin-circle-green.svg');
      background-size: cover;
    }

    &.youtube {
      background: url('../../assets/images/social-media/youtube-circle-green.svg');
      background-size: cover;
    }
  }
}
