.text-image {
	padding-top: var(--paddings-top);
	padding-bottom: var(--paddings-bottom);

	@media (max-width: 767.98px) {
		padding-top: var(--paddings-top-mobile);
		padding-bottom: var(--paddings-bottom-mobile);
	}

	&[data-shadow='true'] {
		.text-image__image {
			filter: drop-shadow(0px 5px 30px rgba(15, 35, 52, 0.15));
		}
	}

	&--reverse {
		.text-image__inner {
			flex-direction: row-reverse;
		}
	}

	&__inner {
		display: flex;

		@media (max-width: 767.98px) {
			flex-direction: column;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		max-width: 572px;
		margin-right: 50px;

		@media (max-width: 767.98px) {
			margin-right: 0;
		}
	}

	&__title {
		margin-top: var(--margins-title);
		font-weight: 300;
		font-size: 40px;
		line-height: 100%;
		color: #3a4454;

		@media (max-width: 767.98px) {
			font-size: 36px;
			margin-top: var(--margins-title-mobile);
		}
	}

	&__description {
		margin-top: var(--margins-description);
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #748994;

		@media (max-width: 767.98px) {
			margin-top: var(--margins-description-mobile);
		}

		h3 {
			font-weight: 700;
			font-size: 18px;
		}

		p + p {
			margin-top: 20px;
		}
	}

	&__buttons {
		margin-top: var(--margins-button);

		@media (max-width: 767.98px) {
			margin-top: var(--margins-button-mobile);
		}
	}

	&__image {
		margin-top: var(--margins-image);
		width: var(--measurements-image-width);
		height: var(--measurements-image-height);
		border-radius: 15px;
		flex-shrink: 0;
		margin-right: 56px;
		margin-left: auto;

		@media (max-width: 1199.98px) {
			width: calc(var(--measurements-image-width) / 1.5);
		}

		@media (max-width: 767.98px) {
			margin-top: var(--margins-image-mobile);
			width: var(--measurements-image-width-mobile);
			height: var(--measurements-image-height-mobile);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			border-radius: 15px;
		}
	}
}
