.columns-accordion {
  .tabs_header {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width:768px) {
      flex-wrap: nowrap;
    }
  }

  p {
    margin: 0 0 1rem;
  }

  .tabs_header_item {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    padding: 16px 5px;
    color: #708090;
    background: #F5F5F5;
    border-bottom: 1px solid #DCE1E9;
    border-radius: 0px;
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    width: 100%;
  }

  .tabs_content_item.active {
    display: grid;
  }

  .tabs_content_item {
    display: grid;
    grid-template-columns: 1fr;
    display: none;

    @media screen and (min-width:768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  figure {
    display: flex;
    margin: 0;
    justify-content: flex-start;
    width: 100%;

    img {
      max-height: 800px;
      max-width: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .tabs {
    background: linear-gradient(90deg, #ECECE8 0%, #FAFAFA 100%);
    border: 1px solid #DCE1E9;
    border-radius: 10px;
    overflow: hidden;
  }

  .columns-accordion {
    padding: 110px 0;
  }

  .tabs_content {
    padding: 67px 1rem 0 0;
  }
  .swiper-slide {
    width: 80%;
}

  .card {
    position: relative;
    border: 1px solid #DCE1E9;
    padding: 44px 36px;
    border-radius: 5px;
    max-width: 360px;
    min-height: 280px;
    display: grid;
    gap: 16px;
    align-content: flex-start;


    figure.cardimage {
      position: absolute;
      bottom: -30px;
      right: -30px;
      width: 140px;
      // box-shadow: 0px 6px 20px 0px rgba(142, 145, 145, 0.25);
      // transform: rotate(5.348deg);
      display: flex;
    }

    h3.title {
      color: #3A4454;
      /* H3 */
      font-size: 30px;
      font-family: Lato;
      font-weight: 300;
      line-height: 100%;
      word-break: break-word;
    }

    .link a {

      /* Body */
      border-bottom: 1px solid var(--secondary-green, #219963);
      color: var(--secondary-green, #219963);
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
    }

    .content {
      color: #556176;
      /* Body */
      font-size: 16px;
      font-family: Lato;
      line-height: 150%;
      word-break: break-word;
    }
  }
}

.columns-accordion .tabs_header_item.active {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  border: none;
  text-align: center;
  color: #219963;
  border-right: 1px solid #DCE1E9;
  border-left: 1px solid #DCE1E9;
  border-radius: 10px 0px 0px 0px;
}

.container {}

.tarjetas_slider {
  padding: 0 60px;
  position: relative;
  max-width: 1220px;
  margin: 0 auto;

  .swiper-button-next,
  .swiper-button-prev {
    border-radius: 56px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(26, 97, 171, 0.15);
    width: 56px;
    height: 56px;
  }

  .swiper-button-prev {
    transform: rotate(180deg);
  }
}

.tabs_content_item__text {
  width: 100%;
  padding: 2rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #4A5264;

  ol,
  ul {
    list-style: initial;
    padding: 0 0 1rem 1rem;
    display: grid;
    gap: 1rem;
  }
}

.tabs_content_item__image {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.additional_content_content {
  max-height: 0px;
  overflow: hidden;
  transition: all .6s;
}

.additional_content_content.active {
  max-height: 100vh;
  overflow: auto;
}

.additional_content_trigger {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #219963;
  border-bottom: 1px solid;
  display: inline-flex;
  padding-bottom: 5px;
  margin: 2rem 0;
  cursor: pointer;
}

.additional_content_trigger:before {
  content: '+';
  padding-right: 5px;
}

.additional_content_trigger.active:before {
  content: '-';
}

.columns-accordion {
  .tarjeta_swiper {
    max-width: 500px;
    overflow: visible !important;
    margin: 0;
    position: static;

    .swiper-slide-active {
      .card {
        border-radius: 10px;
        border: 1px solid var(--lines, #DCE1E9);
        background: linear-gradient(135deg, #8E9191 26.84%, #565656 69.81%);

        h3.title {
          color: #fff;
        }

        .content {
          color: #fff;
        }

        .link {
          visibility: hidden;
        }
      }

    }
  }
}



.info_columns {
  grid-template-columns: 1fr;
  gap: 80px;
  padding: 0 20px;
  margin: 120px 0;
  display: none;

  @media screen and (min-width:768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &.active {
    display: grid;
  }
}

.info_columns_title {
  color: var(--grey-text-1, #3A4454);
  font-size: 30px;
  font-family: Lato;
  font-weight: 700;
  line-height: 100%;
}

.info_columns_item {
  display: flex;
  flex-direction: column;
  gap: 23px;

  img {
    max-width: 36px !important;
    max-height: 36px !important;
  }
}