.single-image-new {
  @include media-breakpoint-up(md) {
    padding: 18px 0 49px 0;
  }

  @include media-breakpoint-down(md) {
    padding: 18px 0 25px 0;
  }

  &__image {
    width: 100%;
    object-fit: contain;

    @include media-breakpoint-up(sm) {
      height: auto;
    }

    &.desktop {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &.mobile {
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }
}
