.button-link-blue {
  .text-image-columns {
    .text-image-columns__readmore-button {
      color: $blue2;
      text-decoration: underline;
      text-underline-offset: 5px;

      &:hover {
        font-weight: 900;
        text-decoration: underline;
        text-decoration-thickness: 2px;
      }
    }

    .text-image-columns__pluss {
      background: $blue2;

      &::before {
        background: $blue2;
      }
    }
  }
}

.button-link-green {
  .text-image-columns {
    .text-image-columns__readmore-button {
      color: $green;
      text-decoration: underline;
      text-underline-offset: 5px;

      &:hover {
        font-weight: 900;
        text-decoration: underline;
        text-decoration-thickness: 2px;
      }
    }

    .text-image-columns__pluss {
      background: $green;

      &::before {
        background: $main-green;
      }
    }
  }
}

.text-image-columns {
  $self: &;
  background: var(--gradient);

  margin-top: var(--margins-top--mobile);
  margin-bottom: var(--margins-bottom--mobile);
  padding-top: var(--paddings-top--mobile);
  padding-bottom: var(--paddings-bottom--mobile);

  @media (min-width: 767.98px) {
    margin-top: var(--margins-top);
    margin-bottom: var(--margins-bottom);
    padding-top: var(--padding-top);
    padding-bottom: var(--paddings-bottom);
  }

  &-reverse {
    .text-image-columns__inner {
      flex-direction: row-reverse;
      @media (max-width: 767.98px) {
        flex-direction: column;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-up(md) {
      gap: 56px;
    }

    @include media-breakpoint-down(md) {
      gap: 25px;
      flex-direction: column;
    }
  }

  &__text {
    position: relative;
    width: 50%;

    @media (max-width: 767.98px) {
      margin-left: 0;
      width: 100%;
    }
  }

  &__icon {
    height: 60px;
    width: 60px;

    @media (max-width: 767.98px) {
      position: absolute;
      left: 0;
      top: 3px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    margin-top: 19px;
    font-weight: 300;
    font-size: 40px;
    line-height: 100%;
    color: #3a4454;
    margin-bottom: 29px;

    @media (max-width: 767.98px) {
      // padding-left: 24px + 60px;
      margin-top: 0;
    }

    @media (max-width: 575.98px) {
      font-size: 24px;
      line-height: 100%;
      margin-bottom: 35px;
    }
  }

  &__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $gray3;

    &.read-more-content {
      max-height: 0;
      pointer-events: none;
      transition: max-height 0.3s ease-in-out;
      overflow: hidden;
      margin-bottom: 10px;

      &.readmore-active {
        pointer-events: all;
        max-height: 1000px;
        margin-top: 0;
      }
    }

    ul li {
      position: relative;
      padding-left: 23px;

      &::before {
        content: '';
        position: absolute;
        left: 10px;
        top: 9px;
        width: 6px;
        height: 6px;
        background: $gray3;
        border-radius: 50%;
      }
    }
  }

  &__readmore-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;

    &.readmore-active {
      #{$self}__pluss {
        &::before {
          opacity: 0;
        }
      }
    }
  }

  &__pluss {
    position: relative;
    display: block;
    margin-right: 10px;
    right: 0;
    width: 14px;
    height: 2px;
    border-radius: 4px;
    transition: background 0.2s;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2px;
      height: 14px;
      border-radius: 4px;
      transition: opacity 0.2s;
    }
  }

  &__modal {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #219963;
    margin: 1rem 10px 0;
  }

  &__buttons {
    margin-top: 39px;
    display: flex;
    align-items: center;

    @media (max-width: 767.98px) {
      margin-top: 32px;
    }
  }

  &__appstore,
  &__googleplay {
    width: 182px;
    height: 54px;

    @media (max-width: 575.98px) {
      width: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__appstore {
    margin-right: 18px;
  }

  &__image {
    width: 50%;

    @media (max-width: 767.98px) {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.text-image-columns__modal {
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid;
  display: inline-flex;

  &-content {
    position: fixed;
    top: 50%;
    left: 0;
    background: #ffffff;
    border: 1px solid #dce1e9;
    border-radius: 10px;
    padding: 50px 65px;
    right: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #4a5264;
    z-index: 900;
    max-width: 750px;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: translate(0%, -20%);

    @media (max-width: 767.98px) {
      margin: 0 50px;
      padding: 50px 20px;
    }

    &.active-modal {
      opacity: 1;
      visibility: visible;
      transform: translate(0%, -50%);
    }

    &-title {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 100%;
      color: #3a4454;
      margin: 0 0 1rem;
    }

    &-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      z-index: 100;
      transition: all 0.6s;
      visibility: hidden;

      &.active-modal {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    cursor: pointer;

    svg {
      width: 15px;
      height: 15px;
    }
  }
}
