.text {
	position: relative;

	&__inner {
		padding-top: 123px;
		padding-bottom: 60px;

		@media (max-width: 767.98px) {
			padding-top: 47px;
			padding-bottom: 15px;
		}
	}

	&__title {
		color: #3a4454;
		font-weight: 300;
		font-size: 40px;
		line-height: 100%;

		@media (max-width: 575.98px) {
			font-size: 35px;
			line-height: 100%;
		}
	}

	&__content {
		margin-top: 39px;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #748994;

		@media (max-width: 767.98px) {
			margin-top: 21px;
		}
	}
}
