
.attention {
	background: linear-gradient(93.29deg, #1a61ab -12.85%, #007953 115.58%);

	@media (max-width: 767.98px) {
		background: linear-gradient(123.62deg, #1a61ab -15.87%, #007953 116.02%);
	}

	&__inner {
		max-width: 562px;
		margin: 0 auto;
	}

	&__content {
		padding-top: 60px;
		padding-bottom: 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media (max-width: 767.98px) {
			padding-top: 48px;
			padding-bottom: 47px;
		}
	}

	&__icon {
		width: 58.42px;
		height: 58.42px;

		@media (max-width: 575.98px) {
			width: 36px;
			height: 36px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__title {
		margin-top: 24px;
		font-weight: 300;
		font-size: 40px;
		line-height: 100%;
		color: #ffffff;
		max-width: 350px;
		text-align: center;

		@media (max-width: 575.98px) {
			font-size: 32px;
			line-height: 100%;
		}
	}

	&__description {
		margin-top: 24px;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		color: #ffffff;
		max-width: 550px;
		text-align: center;

		@media (max-width: 767.98px) {
			margin-top: 16px;
		}

		@media (max-width: 575.98px) {
			font-size: 16px;
		}
	}

	&__button {
		margin-top: 24px;

		@media (max-width: 767.98px) {
			margin-top: 30px;
		}

		.primary-button {
			position: relative;
			padding: 15px 36px;
			background: #fff;
			color: #007953;
			z-index: 1;

			&:hover {
				background: #fff;
				color: #219963;
			}
	
			&:active {
				background: #fff;
				color: #007953;
			}
		}
	}
}